!.keep
*.swo
/.bundle
/.env
/.foreman
/.idea
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
.vagrant/*
*.log
*.swp
*barf*
*bull*
*butt*
*cock*
*crap*
*cunt*
*dick*
*dog*
*fart*
*fuck*
*garbage*
*horse*
*junk*
*junkque*
*piss*
*pussy*
*refuse*
*shit*
*suck*
*trash*
*vomit*
*~1~
.DS_Store
.bundle
.bundle/*
.bzr
.bzr/*
.env
.gitconfig
.idea
.metadata
.rvmrc
.vagrant/
coverage
db/*.sqlite3
db/schema.rb
log
log/*
log/*.log
preferences
sitemap.xml
sitemap.xml.gz
solr/data
tmp/*
tmp/**/*
webrat.log
.idea/
#.ruby-gemset
#.ruby-version
coverage/
node_modules/
public/uploads/
vagrant_ansible_inventory_default
*.pid
public/sitemaps/*
public/spree
public/spree/*
public/spree/products/*
dump.sql