<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

<!-- Cart table -->
<table class="table table-bordered table-primary table-striped table-vertical-center checkboxs js-table-sortable">
  <thead>
  <tr>
    <th>Продукт</th>
    <th>Цена 1шт</th>
    <th style="width: 50px;">Кол-во</th>
    <th style="width: 80px;">Итого</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>

  </tbody>
</table>
<!-- // Cart table END -->
