    <div class="wrapper">

      <h1 class="glyphicons user_add"><%= Spree.t(:create_a_new_account) %><i></i></h1>

      <!-- Box -->
      <div class="widget widget-heading-simple widget-body-gray">

        <div class="widget-body">
          <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 center">
                  <%= f.submit Spree.t(:create), :class => 'btn btn-block btn-inverse' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <!-- // Box END -->

    </div>
