<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.about.min.css" />
<% end %>

<div class="container-960 innerTB">

  <h3 class="glyphicons circle_info margin-none"><i></i>О нас <span>LED SHOP</span></h3>
  <div class="separator bottom"></div>

  <div class="widget widget-heading-simple widget-body-gray">
    <div class="widget-body"><p class="lead center margin-none">Highly Customizable. Optimized for Performance. Production Ready.</p></div>
  </div>

  <!-- Row -->
  <div class="row">

    <!-- Thumbnails -->
    <ul class="thumbnails">

      <!-- Column -->
      <li class="col-md-4">

        <!-- Thumbnail -->
        <div class="thumbnail widget-thumbnail">
          <img src="../assets/images/avatar-large.jpg" alt="100%x200 Image Holder" />
          <div class="caption">
            <h4>John Doe</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            <!-- Social Icons -->
            <a href="" class="glyphicons glyphicons-social standard primary facebook"><i></i></a>
            <a href="" class="glyphicons glyphicons-social standard twitter"><i></i></a>
            <a href="" class="glyphicons glyphicons-social standard linked_in"><i></i></a>
            <div class="clearfix"></div>
            <!-- // Social Icons END -->
          </div>
        </div>
        <!-- // Thumbnail END -->

      </li>
      <!-- // Column END -->

      <!-- Column -->
      <li class="col-md-4">

        <!-- Thumbnail -->
        <div class="thumbnail widget-thumbnail">
          <img src="../assets/images/avatar-large-girl.jpg" alt="100%x200 Image Holder" />
          <div class="caption">
            <h4>Jane Doe</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            <!-- Social Icons -->
            <a href="" class="glyphicons glyphicons-social standard primary facebook"><i></i></a>
            <a href="" class="glyphicons glyphicons-social standard twitter"><i></i></a>
            <a href="" class="glyphicons glyphicons-social standard linked_in"><i></i></a>
            <div class="clearfix"></div>
            <!-- // Social Icons END -->
          </div>
        </div>
        <!-- // Thumbnail END -->

      </li>
      <!-- // Column END -->

      <!-- Column -->
      <li class="col-md-4">

        <!-- Thumbnail -->
        <div class="thumbnail widget-thumbnail">
          <img src="../assets/images/avatar-large.jpg" alt="100%x200 Image Holder" />
          <div class="caption">
            <h4>John Doe</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            <!-- Social Icons -->
            <a href="" class="glyphicons glyphicons-social standard primary facebook"><i></i></a>
            <a href="" class="glyphicons glyphicons-social standard twitter"><i></i></a>
            <a href="" class="glyphicons glyphicons-social standard linked_in"><i></i></a>
            <div class="clearfix"></div>
            <!-- // Social Icons END -->
          </div>
        </div>
        <!-- // Thumbnail END -->

      </li>
      <!-- // Column END -->

    </ul>
    <!-- // Thumbnails END -->

  </div>
  <!-- // Row END -->

  <p class="separator text-center"><i class="fa fa-ellipsis-h fa-3x"></i></p>
  <div class="separator bottom"></div>

  <div class="row">
    <div class="col-md-6">

      <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">
          <div class="innerL">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large shield">
              <i></i>
              <h4>We Build Trusted Websites</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
            </div>
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large group">
              <i></i>
              <h4>User Friendly Design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">

          <div class="separator bottom"></div>
          <div class="glyphicons glyphicon-large iphone">
            <i></i>
            <h4>Mobile First Apps</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
          </div>

          <div class="separator bottom"></div>
          <div class="glyphicons glyphicon-large magic group-column">
            <i></i>
            <h4>Awesome Features</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <br/> <a href="">learn more</a></p>
          </div>

        </div>
      </div>

    </div>
  </div>

  <p class="separator text-center"><i class="fa fa-ellipsis-h fa-3x"></i></p>
  <div class="separator bottom"></div>

  <div class="row">
    <div class="col-md-6">

      <!-- Carousel -->
      <div class="widget widget-heading-simple widget-body-simple">
        <div class="widget-body">
          <div class="carousel carousel-1 slide" id="myCarousel2">
            <div class="carousel-inner">
              <!-- Item -->
              <div class="item active">
                <div class="row">
                  <div class="col-md-5 relativeWrap">
                    <div class="carousel-caption">
                      <h4>Get this item now!</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br/> <a href="" target="_blank">Buy QuickAdmin</a></p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <img src="../assets/images/gallery-2/8.jpg" alt="" />
                  </div>
                </div>
              </div>
              <!-- // Item END -->
              <!-- Item -->
              <div class="item">
                <div class="row">
                  <div class="col-md-5 relativeWrap">
                    <div class="carousel-caption">
                      <h4>Get this item now!</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br/> <a href="" target="_blank">Buy QuickAdmin</a></p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <img src="../assets/images/gallery-2/9.jpg" alt="" />
                  </div>
                </div>
              </div>
              <!-- // Item END -->
              <!-- Item -->
              <div class="item">
                <div class="row">
                  <div class="col-md-5 relativeWrap">
                    <div class="carousel-caption">
                      <h4>Get this item now!</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.<br/> <a href="" target="_blank">Buy QuickAdmin</a></p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <img src="../assets/images/gallery-2/10.jpg" alt="" />
                  </div>
                </div>
              </div>
              <!-- // Item END -->
            </div>
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel2" data-slide-to="1"></li>
              <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
      <!-- // Carousel END -->

    </div>
    <div class="col-md-6">

      <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body">
          <h5>News</h5>
          <div class="glyphicons circle_info">
            <i></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          </div>
        </div>
      </div>

      <!-- Widget -->
      <div class="widget widget-heading-simple widget-body-gray">

        <!-- Widget Heading -->
        <div class="widget-head">
          <h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>
        </div>
        <!-- // Widget Heading END -->

        <div class="widget-body">
          <section class="twitter-feed">
            <div class="row">
              <div class="col-md-12">
                <div class="tweet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc lorem, rutrum non porta. <span class="label label-inverse">01/11/2012</span></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </section>
        </div>
      </div>
      <!-- // Widget END -->

    </div>
  </div>

</div>