<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.about.min.css" />
<% end %>

<div class="container-960 innerTB">
  <%= render_snippet('/about_page') %>
</div>