<% if !@product.taxons.blank? %>
    <div class="widget widget-heading-simple">
      <div class="widget-head"><h4 class="heading glyphicons search strong"><i></i>Найти похожие в</h4></div>
      <div class="widget-body">
        <ul class="list-group" id="similar_items_by_taxon" data-hook>
          <% @product.taxons.each do |taxon| %>
              <li class="list-group-item"><%= link_to taxon.name, seo_url(taxon) %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
