<% if (@product.images + @product.variant_images).uniq.size > 1 %>
    <ul class="row">
    <% @product.images.each do |i| %>
      <li class="col-md-3">
        <a class="thumb" href="<%= i.attachment.url(:large) %>" data-gallery="gallery">
          <img src="<%= i.attachment.url(:mini) %>" class="img-responsive" alt="photo" />
        </a>
      </li>
    <% end %>

    <% if @product.has_variants? %>
      <% @product.variant_images.each do |i| %>
        <% next if @product.images.include?(i) %>
              <li class="col-md-3">
                <a class="thumb" href="<%= i.attachment.url(:large) %>" data-gallery="gallery">
                  <img src="<%= i.attachment.url(:mini) %>" class="img-responsive" alt="photo" />
                </a>
              </li>
      <% end %>
    <% end %>
    </ul>
<% end %>
