<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.blog.min.css" />
<% end %>

<div class="container-960 innerT">

  <h3 class="glyphicons notes"><i></i>Новости</h3>
  <div class="separator bottom"></div>

  <div class="row">
    <div class="col-md-3">

      <!-- Widget -->
      <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body list">

          <!-- List -->
          <ul>
            <li>
              <a href="">Make Up</a>
              <span class="badge">35</span>
            </li>
            <li>
              <a href="">Fragrances</a>
              <span class="badge">30</span>
            </li>
            <li>
              <a href="">Nails</a>
              <span class="badge">19</span>
            </li>
            <li>
              <a href="">Hair Products</a>
              <span class="badge">33</span>
            </li>
            <li>
              <a href="">Accessories</a>
              <span class="badge">17</span>
            </li>
          </ul>
          <!-- // List END -->

        </div>
      </div>
      <!-- // Widget END -->

      <p class="separator text-center"><i class="fa fa-ellipsis-h fa-3x"></i></p>

      <div class="widget widget-heading-simple widget-body-default">
        <div class="widget-head"><h4 class="heading glyphicons warning_sign strong"><i></i>Important note</h4></div>
        <div class="widget-body"><p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi erat massa, ultricies sit amet.</p></div>
      </div>

      <p class="separator text-center"><i class="fa fa-ellipsis-h fa-3x"></i></p>

      <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-head"><h4 class="heading glyphicons tags strong"><i></i>Labels</h4></div>
        <div class="widget-body center"><span class="label label-default">responsive blog</span> <span class="label label-default">12 column grid</span> <span class="label label-default">awesome</span> <span class="label label-default">mobile first</span> <span class="label label-default">easy development</span> <span class="label label-default">html template</span></div>
      </div>

    </div>
    <div class="col-md-9">

      <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">
          <div class="row">
            <div class="col-md-4 center">
              <a href="" class="thumb"><img src="../assets/images/gallery-2/2.jpg" class="img-responsive" alt="Image" /></a>
            </div>
            <div class="col-md-8">
              <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
              <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
              <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
              <span class="glyphicons single regular comments"><i></i> 15 comments</span>
              <div class="separator bottom"></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p class="margin-none strong"><a href="" class="glyphicons single chevron-right"><i></i>read more</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">
          <div class="row">
            <div class="col-md-6">
              <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
              <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
              <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
              <div class="separator bottom"></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p class="margin-none strong">
                <a href="" class="glyphicons single chevron-right"><i></i>read more</a>
                <span class="glyphicons single regular comments"><i></i> 15 comments</span>
              </p>
            </div>
            <div class="col-md-6 center">
              <a href="" class="thumb"><img src="../assets/images/gallery-2/4.jpg" class="img-responsive" alt="Image" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">
          <div class="row">
            <div class="col-md-6 center">
              <a href="" class="thumb"><img src="../assets/images/gallery-2/7.jpg" class="img-responsive" alt="Image" /></a>
            </div>
            <div class="col-md-6">
              <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
              <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
              <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
              <div class="separator bottom"></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p class="margin-none strong">
                <a href="" class="glyphicons single chevron-right"><i></i>read more</a>
                <span class="glyphicons single regular comments"><i></i> 15 comments</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body">
          <div class="row">
            <div class="col-md-8">
              <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
              <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
              <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
              <span class="glyphicons single regular comments"><i></i> 15 comments</span>
              <div class="separator bottom"></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p class="margin-none strong"><a href="" class="glyphicons single chevron-right"><i></i>read more</a></p>
            </div>
            <div class="col-md-4 center">
              <a href="" class="thumb"><img src="../assets/images/gallery-2/8.jpg" class="img-responsive" alt="Image" /></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>