<% if spree_current_user %>
  <li class="inverse">
    <%= link_to ('<i></i> '+Spree.t(:my_account)).html_safe, spree.account_path, class: 'glyphicons user no-ajaxify' %>
  </li>
  <li class="primary">
    <%= link_to ('<i></i> '+Spree.t(:logout)).html_safe, spree.logout_path, class: 'glyphicons exit no-ajaxify' %>
  </li>
<% else %>
  <li id="link-to-login" class="inverse">
    <%= link_to ('<i></i> '+Spree.t(:login)).html_safe, spree.login_path, class: 'glyphicons unlock no-ajaxify' %>
  </li>
  <li class="primary">
    <%= link_to '<i></i> Зарегистрироваться'.html_safe, spree.signup_path, class: 'glyphicons user_add no-ajaxify' %>
  </li>

<% end %>
